.button {
    color: #FFF;
    background-color: hsla(307, 94%, 44%, 0.973);    /* Blue */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid hsl(323, 99%, 34%);    /* Dark gray */
    border-radius: 5px;
  
    width: 200px;
    margin: 20px auto;
  }
  
  .call-to-action {
    font-style: italic;
    background-color: #00bbff;    /* Yellow */
  }

  #button-2 {
    color: #FFF;  /* Dark gray */
  }

  .button:hover {
    background-color: blue;
    transform: scale(1.05);
    color: rgb(255, 0, 0);
    text-decoration: underline;
  }