body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
}

/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ajuste o tamanho conforme necessário */
    margin: auto;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  #slide1:checked ~ .slides {
    transform: translateX(0);
  }
  
  #slide2:checked ~ .slides {
    transform: translateX(-100%);
  }
  
  #slide3:checked ~ .slides {
    transform: translateX(-200%);
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  